name: Pylint
#the pylint action will run at any push anywhere in te repository
on: [push]
#Use Ubuntu latest version  with python version "3.11" as an operating system for this action
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        
 #Install the necessary libraries needed to run the action and install pylint using "pip install"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    # pylint every ".py" file in the repositiory and save the output as log file
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
    - name: Change linter configuration to allow lowercase names for constants
      run: |
        echo "good-names=g" >> .pylintrc
